{% extends 'base.html' %}
{% block title %}
Asset details
{% endblock %}
{% block content %}

<div class="checkbox mb-3">
    <br>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('vmadd_page') }}">Add VM</a>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('vmadd_page') }}">Add Database</a>
</div>

<table id="data" class="table table-hover table-dark table-striped">
    <h3>Virtual Machines</h3>
    <thead>
        <tr>
            <th>#</th>
            <th><i class="fas fa-server mr-2 aria-hidden=true"></i>HostIP</th>
            <th><i class="fas fa-user-circle mr-2 aria-hidden=true"></i>UserName</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for asset in assets %}
        {% include 'includes/items_modals.html' %}
        <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.instance }}</td>
            <td>{{ asset.username }}</td>
            <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ asset.id }}">Copy Password</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-MoreInfo-{{ asset.id }}">Show Password</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>


<!-- database table -->
<table class="table table-hover table-dark">
    <thead>
        <h3>Database</h3>
        <tr>
            <th>#</th>
            <th><i class="fas fa-server mr-2 aria-hidden=true"></i>Instance</th>
            <th><i class="fas fa-user-circle mr-2 aria-hidden=true"></i>UserName</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for asset in assets %}
        {% include 'includes/items_modals.html' %}
        <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.instance }}</td>
            <td>{{ asset.username }}</td>
            <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ asset.id }}">Copy Password</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-MoreInfo-{{ asset.id }}">Show Password</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}