{% extends 'base.html' %}
{% block title %}
    add VM Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please enter VM Details 
            </h1>
            <br>
            {{ form.instance.label() }}
            {{ form.instance(class="form-control", placeholder="Instance Information") }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="password1") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="password2") }}

            {{ form.otherdetails.label() }}
            {{ form.otherdetails(class="form-control", placeholder="Other Details") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}
